<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoals"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoals.TeamGoalsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoals">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalCount"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoalcount.TeamGoalCountMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoalCount">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalsHalfTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoalshalftime.TeamGoalsHalfTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoalsHalfTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalsHalfTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamgoalshalftime.TeamGoalsHalfTimeEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamGoalsHalfTime_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalCountHalftime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoalcounthalftime.TeamGoalCountHalftimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoalCountHalftime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalsInitialTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoalsinitialtime.TeamGoalsInitialTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoalsInitialTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalsInitialTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamgoalsinitialtime.TeamGoalsInitialTimeEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamGoalsInitialTime_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamGoalCountInitialTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamgoalcountinitialtime.TeamGoalCountInitialTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamGoalCountInitialTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaults"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamfaults.TeamFaultsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamFaults">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultsFirstHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamfaultsfirsthalf.TeamFaultsFirstHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamFaultsFirstHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultsFirstHalf"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamfaultsfirsthalf.TeamFaultsFirstHalfEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamFaultsFirstHalf_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultCountFirstHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamfaultcountfirsthalf.TeamFaultCountFirstHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamFaultCountFirstHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultsSecondHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamfaultssecondhalf.TeamFaultsSecondHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamFaultsSecondHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultsSecondHalf"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamfaultssecondhalf.TeamFaultsSecondHalfEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamFaultsSecondHalf_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamFaultCountSecondHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamfaultcountsecondhalf.TeamFaultCountSecondHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamFaultCountSecondHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamTimeouts"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamtimeouts.TeamTimeoutsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamTimeouts">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamTimeoutsFirstHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamtimeoutsfirsthalf.TeamTimeoutsFirstHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamTimeoutsFirstHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamTimeoutsFirstHalf"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamtimeoutsfirsthalf.TeamTimeoutsFirstHalfEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamTimeoutsFirstHalf_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamTimeoutsSecondHalf"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamtimeoutssecondhalf.TeamTimeoutsSecondHalfMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamTimeoutsSecondHalf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamTimeoutsSecondHalf"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.teamtimeoutssecondhalf.TeamTimeoutsSecondHalfEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.TeamTimeoutsSecondHalf_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamSubstitutions"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamsubstitutions.TeamSubstitutionsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamSubstitutions">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamSubstitutionCount"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teamsubstitutioncount.TeamSubstitutionCountMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamSubstitutionCount">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.insubs.InSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.inSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inSubsAfterSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.insubsaftersubs.InSubsAfterSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.inSubsAfterSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inSubsAfterSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.insubsaftersubs.InSubsAfterSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.inSubsAfterSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inSubsAfterSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.insubsaftersubs.InSubsAfterSubsEvaluator2_1"
            id="hu.bme.mit.inf.mvsd.inSubsAfterSubs_2_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.outsubs.OutSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.outSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outSubsAfterSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.outsubsaftersubs.OutSubsAfterSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.outSubsAfterSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outSubsAfterSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.outsubsaftersubs.OutSubsAfterSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.outSubsAfterSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outSubsAfterSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.outsubsaftersubs.OutSubsAfterSubsEvaluator2_1"
            id="hu.bme.mit.inf.mvsd.outSubsAfterSubs_2_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.subs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.subs.SubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.subs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.lastInSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.lastinsubs.LastInSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.lastInSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.lastOutSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.lastoutsubs.LastOutSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.lastOutSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outSubsAfterLastInSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.outsubsafterlastinsubs.OutSubsAfterLastInSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.outSubsAfterLastInSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inSubsAfterLastOutSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.insubsafterlastoutsubs.InSubsAfterLastOutSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.inSubsAfterLastOutSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.fieldPlayers"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.fieldplayers.FieldPlayersMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.fieldPlayers">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.allPlayers"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.allplayers.AllPlayersMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.allPlayers">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outInOutSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.outinoutsubs.OutInOutSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.outInOutSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outInOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.outinoutsubs.OutInOutSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.outInOutSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outInOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.outinoutsubs.OutInOutSubsEvaluator1_2"
            id="hu.bme.mit.inf.mvsd.outInOutSubs_1_2">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.outInOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.outinoutsubs.OutInOutSubsEvaluator1_3"
            id="hu.bme.mit.inf.mvsd.outInOutSubs_1_3">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inOutInSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.inoutinsubs.InOutInSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.inOutInSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inOutInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.inoutinsubs.InOutInSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.inOutInSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inOutInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.inoutinsubs.InOutInSubsEvaluator1_2"
            id="hu.bme.mit.inf.mvsd.inOutInSubs_1_2">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.inOutInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.inoutinsubs.InOutInSubsEvaluator1_3"
            id="hu.bme.mit.inf.mvsd.inOutInSubs_1_3">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenInSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.betweeninsubs.BetweenInSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.betweenInSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweeninsubs.BetweenInSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.betweenInSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweeninsubs.BetweenInSubsEvaluator1_2"
            id="hu.bme.mit.inf.mvsd.betweenInSubs_1_2">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenInSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweeninsubs.BetweenInSubsEvaluator1_3"
            id="hu.bme.mit.inf.mvsd.betweenInSubs_1_3">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenOutSubs"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.betweenoutsubs.BetweenOutSubsMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.betweenOutSubs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweenoutsubs.BetweenOutSubsEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.betweenOutSubs_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweenoutsubs.BetweenOutSubsEvaluator1_2"
            id="hu.bme.mit.inf.mvsd.betweenOutSubs_1_2">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.betweenOutSubs"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.betweenoutsubs.BetweenOutSubsEvaluator1_3"
            id="hu.bme.mit.inf.mvsd.betweenOutSubs_1_3">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.invalidSubsCandidate"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.invalidsubscandidate.InvalidSubsCandidateMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.invalidSubsCandidate">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.DuplicateSubstitution"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.duplicatesubstitution.DuplicateSubstitutionMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.DuplicateSubstitution">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.MatchTeamSubjectInconsistency"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.matchteamsubjectinconsistency.MatchTeamSubjectInconsistencyMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.MatchTeamSubjectInconsistency">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.TeamMemberNotInContainingTeam"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.teammembernotincontainingteam.TeamMemberNotInContainingTeamMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.TeamMemberNotInContainingTeam">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.CaptainIsInOtherTeam"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.captainisinotherteam.CaptainIsInOtherTeamMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.CaptainIsInOtherTeam">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.eventaftergametimeifequalininitialtime.EventAfterGameTimeIfEqualInInitialTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.eventaftergametimeifequalininitialtime.EventAfterGameTimeIfEqualInInitialTimeEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.eventaftergametimeifequalininitialtime.EventAfterGameTimeIfEqualInInitialTimeEvaluator1_2"
            id="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime_1_2">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.EventAfterFullGameTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.eventafterfullgametime.EventAfterFullGameTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.EventAfterFullGameTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.EventAfterFullGameTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.eventafterfullgametime.EventAfterFullGameTimeEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.EventAfterFullGameTime_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.playerscoresafterredcard.PlayerScoresAfterRedCardMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.playerscoresafterredcard.PlayerScoresAfterRedCardEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.playersubstitutesafterredcard.PlayerSubstitutesAfterRedCardMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.playersubstitutesafterredcard.PlayerSubstitutesAfterRedCardEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.DecreasingEventTime"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.inf.mvsd.decreasingeventtime.DecreasingEventTimeMatcherFactory$Provider"
            id="hu.bme.mit.inf.mvsd.DecreasingEventTime">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.mvsd.DecreasingEventTime"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.inf.mvsd.decreasingeventtime.DecreasingEventTimeEvaluator1_1"
            id="hu.bme.mit.inf.mvsd.DecreasingEventTime_1_1">
      </evaluator>
   </extension>

</plugin>
