<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.MatchTeamSubjectInconsistency"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.MatchTeamSubjectInconsistency"
            class="hu.bme.mit.inf.mvsd.matchteamsubjectinconsistency.MatchTeamSubjectInconsistencyConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.TeamMemberNotInContainingTeam"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.TeamMemberNotInContainingTeam"
            class="hu.bme.mit.inf.mvsd.teammembernotincontainingteam.TeamMemberNotInContainingTeamConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.CaptainIsInOtherTeam"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.CaptainIsInOtherTeam"
            class="hu.bme.mit.inf.mvsd.captainisinotherteam.CaptainIsInOtherTeamConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.EventAfterGameTimeIfEqualInInitialTime"
            class="hu.bme.mit.inf.mvsd.eventaftergametimeifequalininitialtime.EventAfterGameTimeIfEqualInInitialTimeConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.EventAfterFullGameTime"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.EventAfterFullGameTime"
            class="hu.bme.mit.inf.mvsd.eventafterfullgametime.EventAfterFullGameTimeConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.PlayerScoresAfterRedCard"
            class="hu.bme.mit.inf.mvsd.playerscoresafterredcard.PlayerScoresAfterRedCardConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.PlayerSubstitutesAfterRedCard"
            class="hu.bme.mit.inf.mvsd.playersubstitutesafterredcard.PlayerSubstitutesAfterRedCardConstraint0">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.hu.bme.mit.inf.mvsd.DecreasingEventTime"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="hu.bme.mit.inf.mvsd.DecreasingEventTime"
            class="hu.bme.mit.inf.mvsd.decreasingeventtime.DecreasingEventTimeConstraint0">
      </constraint>
   </extension>

</plugin>
